# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS system files
.DS_Store

# Virtual environments
env/
venv/
ENV/
.venv/

# Audio and lyrics files (only if you want to keep your repo lightweight)
*.mp3
*.lrc
